body{
    background-color: #0A0A0A;
    font-family: Arial, sans-serif;
    transition: 1s;
}
header{
    justify-content: center;
    display: flex;
    background-color: #111111;
    position: center;
    margin: 0% 5% 0% 5%;
    max-width: 1700px;
    color: purple;
    padding: 10px 30px;
    border-radius: 10px;
}
button{
    max-width: 100px;
    margin: 1px;
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;

}
button:hover{
    cursor: pointer;
    border-radius: 13px;
    box-shadow: #5A005A 0px 0px 10px 10px;
    transition: 0.7s;
}
.btn{
    width: 10%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.bn{
    display: flex;
}
.im{
    margin-top: -3px;
    margin-right: 5px;   
}
hr{
    color: purple;
}
nav{
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
    background-color: #111111;
    position: center;
    margin: 30px 5% 0% 5%;
    max-width: 1700px;
    color: purple;
    padding: 30px 20px 5px 20px;
    border-radius: 10px;
    transition: 0.3s;
    animation: fadeUp 1s ease forwards;
}
#title {
  font-size: 40px;
}

.letter {
  transition: 0.3s;
  cursor: pointer;
}


.letter:hover {
  transform: translateY(-10px);
  color: #FF00FF;
  cursor: url("img/icons8-etoile-48.png"), auto ;
}
.R{
    border-radius: 20px;
    border: 1px solid purple;
}
.R:hover{
    box-shadow: #5A005A 0px 0px 10px 10px;
    transition: 0.7s;
}
.info{
    display: none;
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
    background-color: #111111;
    position: center;
    margin: 30px 5% 0% 5%;
    max-width: 1700px;
    color: purple;
    padding: 30px 20px 5px 20px;
    border-radius: 10px;
    transition: 0.3s;
    animation: fadeUp 1s ease forwards;
}
.food{
    display: none;
}

.mn{
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
    background-color: #111111;
    position: center;
    margin: 30px 5% 0% 5%;
    max-width: 1700px;
    color: purple;
    padding: 30px 20px 5px 20px;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
    padding-bottom: 30px;
    animation: fadeUp 1s ease forwards;
}


.mn img {
  width: 100%;
  display: block;
}

.overlay {
    margin-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    padding: 10px;
    margin-left: 20px;
    height: 75%;
    background: rgba(0,0,0,0.4); /* طبقة سوداء شفافة */
    color: white;
    justify-content: center;
    align-items: center;

}
.overllay {
    margin-top: 30px;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    padding: 10px;
    margin-left: 20px;
    height: 71%;
    background: rgba(0,0,0,0.4); /* طبقة سوداء شفافة */
    color: white;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}
.ms{
    display: flex;
    align-items: center;
    padding: 10px;
}
.i{
    width: 1px;
    height: 40px;
}
.titre{
    color: wheat;
}
#fm{
    display: none;
}
.fm{
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
    background-color: #111111;
    position: center;
    margin: 30px 5% 0% 5%;
    max-width: 1700px;
    color: purple;
    padding: 30px 20px 5px 20px;
    border-radius: 10px;
    transition: 0.3s;
    animation: fadeUp 1s ease forwards;
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


footer{
    color: purple;
    margin: 30px 5% 30px 5%;
}
.bc{
    display: none;
}